<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DB_Lab06_Register.Properties.Settings.registrationConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=registration;Persist Security Info=True;User ID=regist;Password=REGIST"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>